footer{
	text-align: center;
	background-color: #4E5766;
	color: #fff;
	padding: 20px 0px;
	position: fixed;
	bottom: 0;
	width: 100%;
}
header{
	text-align: center;
	background-color: #4E5766;
	color: #fff;
	padding: 20px 0px;
}
.fondoA{
	background-color: #BBBEC6;
}
.fondoB{
	background-color: #E6DED9;
}
.fondoC{
	background-color: #EDEEE6;
}
.fondoD{
	background-color: #D7E7EA;
}